#preview-view
    #preview-view-wrapper
        iframe#preview-view-iframe
    #preview-console.hide
        #console-log-resize
        ul#console-output-list
        .console-footer
            #console-log-count
            .console-btn#console-btn-reload
                .console-btn-inner
                    | Reload
                    include ../../resources/images/console-btn-reload.svg
            .console-btn#console-btn-auto-compile
                .console-btn-inner
                    | auto-compile
                    include ../../resources/images/console-btn-check.svg
            .console-btn#console-btn-log-extend
                .console-btn-inner
                    | extended log
                    include ../../resources/images/console-btn-check.svg