#editor-view{
    user-select: none;
    position: relative;
}

#ace-editor {
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    left: 0;
}

.ace_editor{
    margin: 0 auto;
}

.noted-ace-content-wrap{
    position: relative;
    overflow: auto;
    -webkit-transform: translate3d(0,0,0);
    height: 100%;
    /*margin: 0 auto;*/
}